#Home .container-fluid{
  height: 500px;
  background-image: url("desktop-wallpaper-indonesia-flag-for-your-mobile-tablet-explore-indonesia-flag-indonesia-flag-peta-indonesia-flag-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}